@import '../../Variables';
@import '../../media-queries';
.aboutMe{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    background-color: #1a1826c2;
    padding: 40px;
    border-radius: 5px;
    overflow: hidden;
        .decription {
            color: $white-color;
            max-width: 680px;
        }
}