@import '../../Variables';
@import '../../media-queries';
@import '../../mixin';

.sidebar {
    @include box;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 32px 24px;
    margin-left: 8px;

    .innerSidebar {

        // min-height:500px;
        .profile {
            padding: 14px;
            @include innerBox;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: center;
            margin-bottom: 24px;

            span {
                font-size: 30px;
                font-weight: 700;
                color: $white-color;
            }
        }
    }

    .navigation {
        a {
            display: block;
            text-align: left;
            font-size: 16px;
            font-weight: 500;
            color: $white-color;
            padding: 8px 15px;
            text-align: center;

        }

        .innerMenu {
            position: relative;
            margin-bottom: 10px;
            i{
                color: $primary;
            }
        }
    }
}