$bg-color:linear-gradient(180deg,rgba(0,163,255,.05) 0%,rgba(0,163,255,.019999999552965164) 100%);
// $bg-color:#1a1826;
$white-color:#ffffff;
$border-color:0.75px solid rgba(6, 15, 21, .5);
$light-violet:#9747ff;
$golden-color:#e7bd8d;
$primary:#00aaff