@import '../../Variables';
@import '../../media-queries';

.banner {
    // background-image: url(../../images/banner.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: $bg-color;
    padding: 15px 0;
    width: 100%;
    .bannerText {
        position: relative;
        // height: calc(100vh - 177px);
    }
}